
<div class="page-header">
  <h1>Lista de  Usiarios</h1>
</div>
<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>Número de post</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>Perfil </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |c| %>
      <tr>
        <td><%= c.email%></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        
        
        <td><%= c.posts.count  %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
       
        <td><%= link_to 'Mostrar perfil', c %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>



