<%- model_class = Post -%>
<h1><FONT FACE="arial" SIZE=40>Lista de Post</FONT> </h1>

<% @posts.each do |post| %>
<table>
	<td><%= link_to post.id, post_path(post) %></td>
	<td></td>
	<td></td>
	<td></td>
	<td><%= link_to post.comentario, post %></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td> Usuario:</td>
	<td></td>
	<td><%= post.user.email %></td>
</table>

<% end %>