<%- model_class = Post -%>
<h1><FONT FACE="arial" SIZE=40>Lista de Post</FONT> </h1>

<% @posts.each do |post| %>
<table>
<tr>
	<th><%= link_to post.id, post_path(post) %></th>
	<th><%= link_to post.comentario, post %></th>
</tr>
	<tr>
	<td> Usuario:</td>
	<td><%= post.user.email %></td>
	</tr>
	

</table>

<% end %>



